.row {
    display: flex;
}

.experienceColumn {
    margin-top: 10%;
    flex: 50%;
    border: blue solid 1px;
}

.educationColumn {
    flex: 50%;
    border: darkgreen solid 1px;
}

.container {
    width: 75%;
}

.accordianCardPurple {
    background-color: rgba(148, 137, 247, 0.466);
}

.accordianCardGreen {
    background-color: #719090a8;
}