.row {
    display: flex;
}

.experienceColumn {
    flex: 50%;
}

.educationColumn {
    flex: 50%;
}

.container {
    width: 75%;
}

.accordianCardPurple {
    background-color: rgba(148, 137, 247, 0.24);
}

.accordianCardGreen {
    background-color: #71909033;
}

.title {
    font-size: 1.5rem;
}