.logo {
    vertical-align: middle;
    width: 29rem;
    margin: 1.5rem 5rem 0 0rem;
}

.navBar{
    background-color: #719090;
    display: inline-block;
    vertical-align: middle;
    padding: .5rem 2rem .5rem 2rem;
    margin: 1rem 0rem 0 5rem;
    border-radius: 5px;
    font-size: 1.5rem;
}