.logo {
    height: 60px;
    margin: 40px 0px 10px 15px;
    padding: 5px;
    transition: transform .2s;
}

.moreMarginLogo {
    height: 60px;
    margin: 40px 0px 10px 40px;
    padding: 5px;
    transition: transform .2s;
}

.logo:hover {
    transform: scale(1.4);
}

.moreMarginLogo:hover {
    transform: scale(1.4);
}

.align {
    vertical-align: middle;
}